@{
    ViewData["Title"] = "Event Detail";
}
<!-- if user is owner of event let them do some stuff -->
<!-- if user is a vendor let them request to join -->
<!-- will need to create a page for listings and a page for finalized events -->
@model EventDetailView

@section css {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link href="@Url.Content("~/css/eventdetailstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @Model.CurrentUser.FirstName!</a>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/vendor-profile/@Model.CurrentUser.UserId">My Profile</a>
                    <a class="dropdown-item" href="/logoff">Sign out</a>
                </div>
            </div>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div class="ultimatecontainer">

    <div class="container">
        <div id="eventcontainer" class="shadow-box mb-4">
            
            <div class="row">
                <div class="resinfo col-4">
                    <img src="../images/home7.jpg" alt="kitchenpic" class="respic" height="150" width="200">
                    <form>
                        <button type="submit" formaction="/listing-details/@Model.CurrentEvent.ListingId">
                            <h4>@Model.CurrentEvent.Listing.Address.addressLine1</h4>
                            <h4>@Model.CurrentEvent.Listing.Address.city, @Model.CurrentEvent.Listing.Address.state @Model.CurrentEvent.Listing.Address.postalCode</h4>
                        </button>
                    </form>
                    <h4>Broker</h4>
                    <h5>@Model.CurrentEvent.Broker.FirstName @Model.CurrentEvent.Broker.LastName</h5>
                    <h5>@Model.CurrentEvent.Broker.Bio</h5>
                
                </div>
                <div class="event-details col-4">
                       
                    <h3>@Model.CurrentEvent.OpenHouseDateTime.Date.ToString("dddd MMM dd, yyyy") @Model.CurrentEvent.OpenHouseDateTime.Date.ToString("h:mm tt")</h3>     
                    
                    <!-- @if(Model.CurrentEvent.BrokerId == Model.CurrentUser.UserId)
                    {
                        <a href="event-detail/@Model.CurrentEvent.EventId/confirm">Finalize Event</a>
                    } -->
                    
                    <div class="eventvendors">
                        <h4>Confirmed Vendors</h4>
                            @{
                                foreach (VendorToEvent ven in Model.CurrentEvent.EventVendors)
                                {
                                    if(ven.RequestStatus.Equals("Accepted"))
                                    {
                                        <img src="@ven.Vendor.ImgUrl" height="100" width="100"> 
                                        <p>Company: @ven.Vendor.Company</p>
                                        <p>Contact: @ven.Vendor.FirstName @ven.Vendor.LastName</p>
                                        <p>@ven.Vendor.BusinessCategory</p>
                                        //add vendor area of house
                                    }
                                }
                            }
                                    
                                    
                            @if(Model.CurrentEvent.BrokerId == Model.CurrentUser.UserId)
                            {
                            <h4>Requested Vendors</h4>
                            
                                foreach (VendorToEvent vend in Model.CurrentEvent.EventVendors)
                                {    
                                    if(vend.RequestStatus.Equals("Requested")) 
                                    {
                                        <div class="vendor-req">
                                            <img src="@vend.Vendor.ImgUrl" height="100" width="100"> 
                                            <p>@vend.Vendor.Company</p>
                                            <form>
                                                <button type="submit" class="accept-vendor btn btn-secondary" formaction="/event-detail/@Model.CurrentEvent.EventId/@vend.VendorId/confirm">Accept</button>
                                                <button type="submit" class="deny-vendor btn btn-secondary" formaction="/event-detail/@Model.CurrentEvent.EventId/@vend.VendorId/deny">Deny</button>
                                            </form>
                                            <!-- <a href="/event-detail/@Model.CurrentEvent.EventId/@vend.VendorId/confirm">Accept</a>
                                            <a href="/event-detail/@Model.CurrentEvent.EventId/@vend.VendorId/deny">Deny</a> -->
                                        </div>
                                    }
                                }
                            }

                    </div>
                </div>
                <div id="right-section" class="col-4">  
                    @if(Model.CurrentEvent.BrokerId == Model.CurrentUser.UserId)
                        {
                            if(@Model.CurrentEvent.Confirmed.Equals(false)) 
                            {
                                <form>
                                    <button type="submit" class="confirm btn btn-secondary" formaction="/event-detail/@Model.CurrentEvent.EventId/confirm">Confirm</button>
                                </form>
                            }
                        }    
                    @{
                        foreach(VendorToEvent ven in Model.CurrentEvent.EventVendors)
                        {
                            @if(!ven.VendorId.Equals(Model.CurrentUser.UserId))
                            {
                            <form>
                                <button type="submit" class="join btn btn-secondary" formaction="/event-detail/@Model.CurrentEvent.EventId/request"><p>Join<br>Event</p></button>
                            </form>
                            }
                            else {}
                        }
                    }
                               
                    <form>
                        <button class="close" type="submit" formaction="/dashboard">&times;</button>
                    </form>  
                </div>   
            </div>
            <div id="share-ig" class="modal">
                <p>You have successfully shared this event on Instagram!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-fb" class="modal">
                <p>You have successfully shared this event on Facebook!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-tweet" class="modal">
                <p>You have successfully shared this event on Twitter!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-email" class="modal">
                <p>You have successfully shared this event via email!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
       
    </div>
</div>    
