@{
    ViewData["Title"] = "Listing Detail";
}
<!-- if user is owner of event let them do some stuff -->
<!-- if user is a vendor let them request to join -->
<!-- will need to create a page for listings and a page for finalized events -->
@model ListingDetailView

@section css {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link href="@Url.Content("~/css/listingstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @Model.CurrentUser.FirstName!</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="broker-profile/@Model.CurrentUser.UserId">My Profile</a>
                    <a class="dropdown-item" href="/logoff">Sign out</a>
                </div>
            </div>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div class="ultimatecontainer">

    <div class="container">
        <div id="event-details" class="shadow-box mb-4">
            <form>
                <button class="close" type="submit" formaction="/dashboard">&times;</button>
            </form> 
                <!--this code is temporary - will likely be added to a listing detail page?  to confirm with Hailey -->


                <div class="listingheader">
                    
                    
                    <!-- <div class="row"> -->
                    
                    <!-- </div>             -->
                </div>
                

            <div class="row">
                <div class="col-sm">
                    <img src="@Model.CurrentListing.ImgUrl" alt="" height="150" width="200" class="respic">
                </div>
                <div class="resinfo col-sm">
                    <h4>@Model.CurrentListing.Address.addressLine1 @Model.CurrentListing.Address.addressLine2</h4> 
                    <h4>@Model.CurrentListing.Address.city, @Model.CurrentListing.Address.state @Model.CurrentListing.Address.postalCode</h4> 
                    <h4>$@Model.CurrentListing.Price.ToString("N0")</h4>
                    <p>@Model.CurrentListing.Description</p>
                    <p>MLS Listing TBD</p> <!--not totaly sure how to do this one -->
                    <!-- <h5>Share via Social Media or Email</h5>
                    <a href="#share-ig" rel="modal:open"><img src="../images/instagram.png" alt="" class="social"></a>
                    <a href="#share-fb" rel="modal:open"><img src="../images/facebook.png" alt="" class="social"></a>
                    <a href="#share-tweet" rel="modal:open"><img src="../images/twitter.png" alt="" class="social"></a>
                    <a href="#share-email" rel="modal:open"><img src="../images/email.png" alt="" class="social"></a> -->
                </div>
            </div>    
            <div class="row">
                <div class="vendors-social col-sm">
                    <h4>Agent</h4>
                    <h6>@Model.CurrentListing.Broker.FirstName @Model.CurrentListing.Broker.LastName</h6>
                    <a href="/broker-profile/@Model.CurrentListing.BrokerId"><img src="@Model.CurrentListing.Broker.ImgUrl" alt="" class="preferred" height="100" width="100"></a>

                </div>
                <div class="vendors-social col-sm">
                    <div class="listingevents">
                        <h4>Events</h4>
                        @{
                            foreach (Event eve in Model.CurrentListing.Events)
                            {
                                <h5><a href="/event-detail/@eve.EventId">
                                Open House @eve.OpenHouseDateTime.Date.ToString("dddd MMM dd, yyyy") @eve.OpenHouseDateTime.Date.ToString("h:mm tt")
                                </a></h5>
                                <h5>Confirmed Vendors:</h5>
                                @foreach (VendorToEvent vend in eve.EventVendors)
                                {
                                    if(vend.Confirmed == true)
                                    {
                                        <img src="@vend.Vendor.ImgUrl" height="100" width="100"> <h4>@vend.Vendor.Company</h4>
                                    }
                                }
                                
                                @if(Model.CurrentListing.BrokerId == Model.CurrentUser.UserId)
                                {
                                    <h5>Requested Vendors:</h5>
                                    @foreach (VendorToEvent vend in eve.EventVendors)
                                    {
                                        if(vend.Confirmed == false)
                                        {
                                            <img src="@vend.Vendor.ImgUrl" height="100" width="100"> <h4>@vend.Vendor.Company</h4>
                                            <a href="/event-detail/@eve.EventId/@vend.VendorId/confirm">Accept</a>
                                            <a href="/event-detail/@eve.EventId/@vend.VendorId/deny">Deny</a>
                                        }
                                    }
                                }
                            }
                        }
                        <form>
                            <button type="submit" class="btn btn-secondary" formaction="/add-event/@Model.CurrentListing.ListingId">Create Event</button>
                        </form>

                    </div>    
                    
                </div>   
            </div>
            <div id="share-ig" class="modal">
                <p>You have successfully shared this event on Instagram!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-fb" class="modal">
                <p>You have successfully shared this event on Facebook!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-tweet" class="modal">
                <p>You have successfully shared this event on Twitter!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
            <div id="share-email" class="modal">
                <p>You have successfully shared this event via email!</p>
                <a href="#" rel="modal:close">Close</a>
            </div>
        </div>
    </div>
</div>    
