@{
    ViewData["Title"] = "Infinterest - Vendor Profile";
}

@model ProfileDetailView;
@using Microsoft.AspNetCore.Http;

@section css {  
  <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/profilestyle.css")" rel="stylesheet" type="text/css" />
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<header>
  <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <div class="dropdown show">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @Model.CurrentUser.FirstName!</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/logoff">Sign out</a>
          </div>
        </div>
      </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
  </label>
</header>
<div class="profilecontainer">
  <div class="col-3 user-details" id="user-profile">
    
    <div class="row">
      <div class="users-details">
        <img class="profile-pic" src="@Model.SelectedUser.ImgUrl" alt="" >
        
        <div class="user-info">
          <h4>@Model.SelectedUser.FirstName @Model.SelectedUser.LastName</h4>
          <h5>@Model.SelectedUser.Company</h5>
          <h5><a class="item" target="_blank" href="http://www.@Model.SelectedUser.Website">@Model.SelectedUser.Website</a></h5>
        </div>
      </div>
    </div>
    <div class="user-bio">
      <h4>Bio</h4>
      <h5>@Model.SelectedUser.Bio</h5>
    </div>
    <div class="user-contact">
      <h4>Contact</h4>
      <h5>@Model.SelectedUser.Contact</h5>
      <h5>@Model.SelectedUser.Email</h5>
    </div>
    
    
    
  
  
  
  <!-- End of content/profile -->
  </div>
  <div class="col-5 user-conf-events">
    <h4>Upcoming Confirmed Events</h4>
      @{
        foreach (Event myEvent in Model.UpcomingEvents)
        {
          <div class="eventdetails">
            <div>
              <!--HAILEY TO UPDATE DB TO STORE EVENT TIME-->
              <a href="/event-detail/@myEvent.EventId"><h6>@myEvent.OpenHouseDateTime.Date.ToString("dddd MMM dd, yyyy") @myEvent.OpenHouseDateTime.Date.ToString("h:mm tt")</h6></a>
             
              
              <h6>Featured Home Area: @myEvent.AreaOfHouse</h6>
              <!-- //confirmed vendors -->
              
            </div>
          </div>
        }
      }
    <h4>Past Confirmed Events</h4>
  </div>
  <div class="col-3 user-pend-events">
    <h4>Pending Events</h4>
    @{
        foreach (Event myEvent in Model.UpcomingEvents)
        {
            <div class="eventdetails">
            <div>
              <!--HAILEY TO UPDATE DB TO STORE EVENT TIME-->
              <a href="/event-detail/@myEvent.EventId"><h6>@myEvent.OpenHouseDateTime.Date.ToString("dddd MMM dd, yyyy") @myEvent.OpenHouseDateTime.Date.ToString("h:mm tt")</h6></a>
             
              
              <h6>Featured Home Area: @myEvent.AreaOfHouse</h6>
              <!-- //confirmed vendors -->
              
            </div>
          </div>
        }
      }
  </div>
</div>
