@{
    ViewData["Title"] = "Dashboard";
}
@model DashboardBrokerView;

@section css {
    <link href="@Url.Content("~/css/dashboardstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
}
<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="http://infinterest.com/#home">About</a></li>
        <li><a href="broker-profile/{UserId}">My Profile</a></li>
        <li><a href="/logoff">Sign out</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<div id="dashboardcontainer">
    <div id="leftsection">
        <label class="price upevents">Your Finalized Events</label>
            @{
                foreach(Event finalized in Model.FinalizedEvents)
                {
                    <div class="result">
                        <img src="@finalized.Listing.ImgUrl" alt="" class="respic">
                        <div class="resinfo">
                            <h6>@finalized.OpenHouseDate</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                            <a href="event-detail{@finalized.EventId}"><h5>Details</h5></a>
                        </div>
                    </div>
                }
            }
        
                <!-- Button trigger modal -->
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalLong">Search</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Your search results</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-result">
                                    <img src="../images/kitchen-1799712_960_720.jpg" alt="kitchenpic" >
                                    <div>
                                        <h4>42352 43rd Ave SE</h4>
                                        <h4>Belletown, WA 90528</h4>
                                        <h6>June 2, 2019</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                                        <a href="/event-detail"><h5>Details</h5></a>
                                    </div>
                                </div>
                                <div class="modal-result">
                                    <img src="../images/home2.jpg" alt="kitchenpic" class="respic">
                                    <div>
                                        <h4>44 Main St</h4>
                                        <h4>Town Center, WA 90543</h4>
                                        <h6>July 16, 2019</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac est odio. Fusce lacus diam, elementum eget elit in, ultrices consectetur sapien. Aenean tincidunt hendrerit tempus.</p>
                                        <a href="/event-detail"><h5>Details</h5></a>
                                    </div>
                                </div>
                             
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div>
       <div id="middlesection">
           <label class="price listings">Your Listings</label>
           @{
              foreach (Listing list in Model.UsersListings)
              {
                <div class="listingdetails">
                  <img src="@list.ImgUrl" alt="" >
                  <div>
                      //address
                    <h4>@list.Zip</h4>
                    <h4>@list.Price</h4>
                    <h4>@list.ListingId</h4>
                    <h4>@list.MLSLink</h4>
                    /*<a href="broker-profile/{id}"><h6>@list.Broker</h6></a>*/

                    //need to add code here to display multiple events per listing
                    <a href="event-detail/{eventId}"><h6>@list.Events</h6></a>
                    <button type="submit" class="btn btn-secondary" formaction="add-event">Add Event</button>
                  </div>
                </div>
              }
            }

        </div>
        <div id="rightsection">
            <div>
                <label class="price upevents">Pending Events</label>
                @{
                    foreach(Event pending in Model.PendingEvents)
                    {
                        <div class="result">
                            <img src="@pending.Listing.ImgUrl" alt="" class="respic">
                            <div class="resinfo">
                                <h6>@pending.OpenHouseDate</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                <a href="event-detail{@pending.EventId}"><h5>Details</h5></a>
                            </div>
                        </div>
                    }
                }   
            </div>    
        </div>      
    </div>  
</div>